body{
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  line-height: 1;
}
.wrapper{
  margin: auto;
  max-width: 1020px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 89px;
  background: #2d303a;
  border-bottom: solid 6px #323746;
}
.logo{
  text-decoration: none;
}
.logo-singolo{
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.logo-singolo_colored{
  color: #f06c64;
}
.header__navigation{
  margin-top: 8px;
}
.nav-bar{
  display: flex;
  width: 371px;
  justify-content: space-between;
  padding-top: 2px;
}
.nav-bar__item{
  font-size: 12px;
  font-weight: 400;
  list-style: none;
  color: white;
  user-select: none;
  line-height: 0;
  transform: scaleY(1.08);
}
.nav-bar__item:hover{
  cursor: pointer;
  color: #f06c64;
}
.nav-bar__item:not(:first-child)::before{
  padding: 0 12px;
  color: #494e62;
  content: "·";
}
.slider{
  display: flex;
  padding: 53px 40px 58px 42px;
  align-items: center;
  justify-content: flex-start;
  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
}
.slider__btn-left, .slider__btn-right{
  display: block;
  content: url(https://manchking.github.io/singolo/assets/arrow.png);
}
.slider__btn-right{
  transform: rotate(180deg);
}
.slider__btn-left, .slider__btn-right:hover{
  cursor: pointer;
}
.slider__iphones-container{
  display: flex;
  margin: auto;
  width: 100%;
  padding: 0 54px;
  align-items: center;
  justify-content: space-between;
}
.iphone-horizontal{
  content: url(https://manchking.github.io/singolo/assets/iphone-horizontal.png);
  padding-right: 1px;
  padding-bottom: 2px;
}
.iphone-vertical{
  content: url(https://manchking.github.io/singolo/assets/iphone-vertical.png);
}
.services{
  display: flex;
  flex-wrap: wrap;
  padding: 62px 40px 28px 40px;
  text-align: left;
  background-color: #f2f2f2;
  color: #666d89;
  border-bottom: solid 6px white;
}
.services__title{
  margin: 0;
}
.services__subtitle{
  margin-top: 21px;
}
.title{
  font-size: 30px;
  font-weight: 900;
}
.subtitle{
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  text-align: justify;
}
.services__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 46px;
}
.services__list__item{
  margin-bottom: 32px;
}
.item{
  display: flex;
  width: 300px;
}
.item__description{
  display: flex;
  flex-direction: column;
}
.item__description__title{
  margin: 8px 0 20px 0;
}
.title-small{
  font-size: 18px;
  font-weight: 900;
  line-height: 0;
}
.item__description__text{
  margin: 0;
  font-size: 12px;
  line-height: 1.8;
  text-align: justify;
  overflow: hidden;
}
.service__list__item__icon{
  margin-top: 1px;
  margin-right: 20px;
}
.icon-circle{
  display: flex;
  width: 59px;
  height: 59px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #666d89;
  border-radius: 50%;
}
.ic_pen{
  content: url(https://manchking.github.io/singolo/assets/icons/ic-pen.png);
}
.ic_bulb{
  content: url(https://manchking.github.io/singolo/assets/icons/ic-bulb.png);
}
.ic_heart{
  content: url(https://manchking.github.io/singolo/assets/icons/ic-heart.png);
}
.ic_phone{
  content: url(https://manchking.github.io/singolo/assets/icons/ic-phone.png);
}
.ic_bubble{
  content: url(https://manchking.github.io/singolo/assets/icons/ic-bubble.png);
}
.ic_star{
  content: url(https://manchking.github.io/singolo/assets/icons/ic-star.png);
}
