html {
  background-color: #DEDEDE;
}

body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  line-height: 0;
}

h2 {
  line-height: 18px;
  font-style: normal;
  font-weight: 900;
  font-size: 29.6188px;
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 17.7713px;
}

.subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
.subtitle_small {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

.btn-arrow-left, .btn-arrow-right {
  display: block;
  content: url("assets/arrow.png");
}
.btn-arrow-left:hover, .btn-arrow-right:hover {
  cursor: pointer;
}

.btn-arrow-right {
  transform: rotate(180deg);
}

.ic_pen {
  content: url("assets/icons/ic-pen.png");
}

.ic_bulb {
  content: url("assets/icons/ic-bulb.png");
}

.ic_heart {
  content: url("assets/icons/ic-heart.png");
}

.ic_phone {
  content: url("assets/icons/ic-phone.png");
}

.ic_bubble {
  content: url("assets/icons/ic-bubble.png");
}

.ic_star {
  content: url("assets/icons/ic-star.png");
}

.ic_twitter {
  content: url("assets/icons/ic-twitter.png");
}

.ic_google {
  content: url("assets/icons/ic-google.png");
}

.ic_facebook {
  content: url("assets/icons/ic-facebook.png");
}

.ic_linkedin {
  content: url("assets/icons/ic-linkedin.png");
}

.ic_contact-location {
  content: url("assets/icons/ic-contact-location.png");
}
.ic_contact-mail {
  content: url("assets/icons/ic-contact-mail.png");
}
.ic_contact-phone {
  content: url("assets/icons/ic-contact-phone.png");
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 59px;
  height: 59px;
  padding-left: 1px;
  flex-shrink: 0;
  border: 2px solid #666d89;
  border-radius: 50%;
}

.portfolio {
  background-color: #2D303A;
  padding: 44px 40px 22px 40px;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  color: #666d89;
}

.portfolio__subtitle {
  padding-top: 2px;
  color: #666d89;
}

.gallery {
  padding-top: 11px;
}

.gallery__sorting {
  display: flex;
  padding-bottom: 17px;
}

.sorting-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  color: #666d89;
  border: solid 1px #666d89;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 0;
  padding: 10px 6px;
  margin-right: 10px;
}
.sorting-button:hover {
  color: #DEDEDE;
  border: solid 1px #DEDEDE;
  transition: 0.3s;
}

.gallery__images {
  margin-top: 2px;
}

.gallery_preview {
  padding-bottom: 20px;
}
.gallery_preview:nth-child(n+13) {
  display: none;
}

.wrapper {
  margin: auto;
  max-width: 1020px;
}

.layout-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.item-4-column {
  flex-basis: 23.4%;
}

.item-3-column {
  flex-basis: 31.9%;
}

.about-us {
  padding: 45px 40px 67px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #FFFFFF;
}

.about-us__title {
  color: #666d89;
}

.about-us__subtitle {
  padding-top: 1px;
  color: #666d89;
}

.about-us__photo {
  padding: 20px 0 15px;
}

.about-us__item {
  padding: 25px 0 0 0;
  overflow: hidden;
}

.about-us__item__title {
  margin-top: 2px;
  font-weight: 900;
  font-size: 17.7713px;
  line-height: 18px;
  color: #666d89;
  white-space: nowrap;
}

.about-us__item__text {
  padding: 10px 0 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  overflow: hidden;
  color: #767e9e;
}

.about-us__item__contacts {
  width: 51%;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=singolo2.css.map */
