@charset "UTF-8";
html {
  background-color: #DEDEDE;
}

body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  line-height: 0;
}

h2 {
  line-height: 18px;
  font-style: normal;
  font-weight: 900;
  font-size: 29.6188px;
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 17.7713px;
}

.subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
.subtitle_small {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

.logo {
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 24.2902px;
  line-height: 6px;
  cursor: pointer;
}
.logo_colored {
  color: #F06C64;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Hairline"), local("Lato-Hairline"), url("/assets/fonts/Lato/latohairline.woff2") format("woff2"), url("/assets/fonts/Lato/latohairline.woff") format("woff"), url("/assets/fonts/Lato/latohairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("/assets/fonts/Lato/latohairlineitalic.woff2") format("woff2"), url("/assets/fonts/Lato/latohairlineitalic.woff") format("woff"), url("/assets/fonts/Lato/latohairlineitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Thin"), local("Lato-Thin"), url("/assets/fonts/Lato/latothin.woff2") format("woff2"), url("/assets/fonts/Lato/latothin.woff") format("woff"), url("/assets/fonts/Lato/latothin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url("/assets/fonts/Lato/latothinitalic.woff2") format("woff2"), url("/assets/fonts/Lato/latothinitalic.woff") format("woff"), url("/assets/fonts/Lato/latothinitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Light"), local("Lato-Light"), url("/assets/fonts/Lato/latolight.woff2") format("woff2"), url("/assets/fonts/Lato/latolight.woff") format("woff"), url("/assets/fonts/Lato/latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("/assets/fonts/Lato/latolightitalic.woff2") format("woff2"), url("/assets/fonts/Lato/latolightitalic.woff") format("woff"), url("/assets/fonts/Lato/latolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("/assets/fonts/Lato/latoregular.woff2") format("woff2"), url("/assets/fonts/Lato/latoregular.woff") format("woff"), url("/assets/fonts/Lato/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Italic"), local("Lato-Italic"), url("/assets/fonts/Lato/latoitalic.woff2") format("woff2"), url("/assets/fonts/Lato/latoitalic.woff") format("woff"), url("/assets/fonts/Lato/latoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Medium"), local("Lato-Medium"), url("/assets/fonts/Lato/latomedium.woff2") format("woff2"), url("/assets/fonts/Lato/latomedium.woff") format("woff"), url("/assets/fonts/Lato/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url("/assets/fonts/Lato/latomediumitalic.woff2") format("woff2"), url("/assets/fonts/Lato/latomediumitalic.woff") format("woff"), url("/assets/fonts/Lato/latomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Semibold"), local("Lato-Semibold"), url("/assets/fonts/Lato/latosemibold.woff2") format("woff2"), url("/assets/fonts/Lato/latosemibold.woff") format("woff"), url("/assets/fonts/Lato/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Semibold Italic"), local("Lato-SemiboldItalic"), url("/assets/fonts/Lato/latosemibolditalic.woff2") format("woff2"), url("/assets/fonts/Lato/latosemibolditalic.woff") format("woff"), url("/assets/fonts/Lato/latosemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("/assets/fonts/Lato/latobold.woff2") format("woff2"), url("/assets/fonts/Lato/latobold.woff") format("woff"), url("/assets/fonts/Lato/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("/assets/fonts/Lato/latobolditalic.woff2") format("woff2"), url("/assets/fonts/Lato/latobolditalic.woff") format("woff"), url("/assets/fonts/Lato/latobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Heavy"), local("Lato-Heavy"), url("/assets/fonts/Lato/latoheavy.woff2") format("woff2"), url("/assets/fonts/Lato/latoheavy.woff") format("woff"), url("/assets/fonts/Lato/latoheavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Heavy Italic"), local("Lato-HeavyItalic"), url("/assets/fonts/Lato/latoheavyitalic.woff2") format("woff2"), url("/assets/fonts/Lato/latoheavyitalic.woff") format("woff"), url("/assets/fonts/Lato/latoheavyitalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Black"), local("Lato-Black"), url("/assets/fonts/Lato/latoblack.woff2") format("woff2"), url("/assets/fonts/Lato/latoblack.woff") format("woff"), url("/assets/fonts/Lato/latoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("/assets/fonts/Lato/latoblackitalic.woff2") format("woff2"), url("/assets/fonts/Lato/latoblackitalic.woff") format("woff"), url("/assets/fonts/Lato/latoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
.btn-arrow-left, .btn-arrow-right {
  display: block;
  content: url("assets/arrow.png");
}
.btn-arrow-left:hover, .btn-arrow-right:hover {
  cursor: pointer;
}

.btn-arrow-right {
  transform: rotate(180deg);
}

.nav-bar {
  display: flex;
  width: 371px;
  justify-content: space-between;
  padding-top: 2px;
}

.nav-bar__item {
  font-style: normal;
  font-size: 11.6593px;
  line-height: 6px;
  list-style: none;
  color: #FFFFFF;
  user-select: none;
  transform: scaleY(1.08);
}
.nav-bar__item:hover {
  cursor: pointer;
  color: #F06C64;
  transition: 0.2s;
}
.nav-bar__item:not(:first-child)::before {
  padding: 0 12px;
  color: #494e62;
  content: "·";
}

.wrapper {
  margin: auto;
  max-width: 1020px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 89px;
  background: #2D303A;
  border-bottom: solid 6px #323746;
}

.header__navigation {
  margin-top: 8px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding: 44px 40px 39px 40px;
  text-align: left;
  background-color: #f2f2f2;
  color: #666d89;
  border-bottom: solid 6px white;
}

.services__subtitle {
  padding-top: 2px;
}

.services__list {
  margin-top: 37px;
}

.services__item {
  display: flex;
  margin-bottom: 21px;
}

.services__item__icon {
  margin-top: 10px;
  margin-right: 20px;
}

.services__item__description {
  display: block;
}

.services__item__text {
  margin: 0;
  overflow: hidden;
  text-align: justify;
}

.layout-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.item-4-column {
  flex-basis: 23.4%;
}

.item-3-column {
  flex-basis: 31.9%;
}

.portfolio {
  background-color: #2D303A;
  padding: 44px 40px 22px 40px;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  color: #666d89;
}

.portfolio__subtitle {
  padding-top: 2px;
  color: #666d89;
}

.gallery {
  padding-top: 11px;
}

.gallery__sorting {
  display: flex;
  padding-bottom: 17px;
}

.sorting-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  color: #666d89;
  border: solid 1px #666d89;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 0;
  padding: 10px 6px;
  margin-right: 10px;
}
.sorting-button:hover {
  color: #DEDEDE;
  border: solid 1px #DEDEDE;
  transition: 0.3s;
}

.gallery__images {
  margin-top: 2px;
}

.gallery_preview {
  padding-bottom: 20px;
}
.gallery_preview:nth-child(n+13) {
  display: none;
}

.about-us {
  padding: 45px 40px 67px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #FFFFFF;
}

.about-us__title {
  color: #666d89;
}

.about-us__subtitle {
  padding-top: 1px;
  color: #666d89;
}

.about-us__photo {
  padding: 20px 0 15px;
}

.about-us__item {
  padding: 25px 0 0 0;
  overflow: hidden;
}

.about-us__item__title {
  margin-top: 2px;
  font-weight: 900;
  font-size: 17.7713px;
  line-height: 18px;
  color: #666d89;
  white-space: nowrap;
}

.about-us__item__text {
  padding: 10px 0 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  overflow: hidden;
  color: #767e9e;
}

.about-us__item__contacts {
  width: 51%;
  display: flex;
  justify-content: space-between;
}
.get-a-quote {
  padding: 44px 40px 51px 40px;
  background-color: #F06C64;
  color: #f0d8d9;
  border-bottom: solid 6px #ea676b;
}

.get-a-quote__subtitle {
  padding-top: 2px;
}

.get-a-quote__form-container {
  margin-top: 35px;
}

.get-a-quote__form {
  padding-top: 9px;
  flex-basis: 65.8%;
}

.get-a-quote__form textarea {
  height: 202px;
}

.footer {
  display: flex;
  padding: 22px 40px;
  justify-content: space-between;
  background-color: #2D303A;
}

.footer__copyright {
  padding-top: 3px;
  padding-left: 2px;
  color: #666d89;
  display: inline-block;
  line-height: 0;
  font-size: 11.7px;
}

.footer__social {
  display: flex;
}
.footer__social > * {
  margin-left: 8px;
}

.slider {
  display: flex;
  padding: 53px 40px 58px 42px;
  align-items: center;
  justify-content: flex-start;
  background-color: #F06C64;
  border-bottom: solid 6px #ea676b;
}

.slider__content {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 0 54px;
  align-items: center;
  justify-content: space-between;
}

.iphone-horizontal {
  content: url("/assets/iphone-horizontal.png");
  padding-right: 1px;
  padding-bottom: 2px;
}

.iphone-vertical {
  content: url("/assets/iphone-vertical.png");
}

.ic_pen {
  content: url("/assets/icons/ic-pen.png");
}

.ic_bulb {
  content: url("/assets/icons/ic-bulb.png");
}

.ic_heart {
  content: url("/assets/icons/ic-heart.png");
}

.ic_phone {
  content: url("/assets/icons/ic-phone.png");
}

.ic_bubble {
  content: url("/assets/icons/ic-bubble.png");
}

.ic_star {
  content: url("/assets/icons/ic-star.png");
}

.ic_twitter {
  content: url("/assets/icons/ic-twitter.png");
}

.ic_google {
  content: url("/assets/icons/ic-google.png");
}

.ic_facebook {
  content: url("assets/icons/ic-facebook.png");
}

.ic_linkedin {
  content: url("assets/icons/ic-linkedin.png");
}

.ic_contact-location {
  content: url("/assets/icons/ic-contact-location.png");
}
.ic_contact-mail {
  content: url("/assets/icons/ic-contact-mail.png");
}
.ic_contact-phone {
  content: url("/assets/icons/ic-contact-phone.png");
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 59px;
  height: 59px;
  padding-left: 1px;
  flex-shrink: 0;
  border: 2px solid #666d89;
  border-radius: 50%;
}

.form-contact {
  display: flex;
}

.form-contact__container {
  flex-basis: 100%;
}
.form-contact__container > input, .form-contact__container textarea {
  display: block;
  margin-bottom: 16px;
  padding: 8px 15px;
  color: #f0d8d9;
  background-color: #d6564f;
  border: none;
  border-radius: 6px;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  box-sizing: border-box;
  outline: none;
}
.form-contact__container > input {
  width: 100%;
}
.form-contact__container > textarea {
  width: 100%;
  resize: none;
}
.form-contact__container > ::placeholder {
  color: #f48c8f;
}

.form-contact__contacts {
  flex-basis: 48.4%;
  margin-left: 20px;
  margin-top: -9px;
}

.form-contact__contacts__title {
  font-weight: bold;
  letter-spacing: 0.2px;
}

.form-contact__contacts__subtitle {
  text-align: justify;
  word-spacing: -1px;
}

.form-contact__contacts__icons {
  display: block;
  text-align: center;
  margin-right: 10px;
}

.form-contact__contacts__data {
  display: block;
  text-align: left;
  letter-spacing: 0.2px;
}
.form-contact__contacts__data > a {
  text-decoration: none;
  color: #f0d8d9;
}

.form-contact__contacts__container {
  display: flex;
  margin-top: -13px;
}

.form-contact__submit-btn {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 8px 15px;
  color: #DEDEDE;
  background-color: #d6564f;
  border: solid 1px #f48c8f;
  border-radius: 6px;
  -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.2);
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}
.form-contact__submit-btn:hover {
  border: solid 1px white;
  transition: ease-out 0.3s;
  background-color: #f0d8d9;
  color: #F06C64;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*# sourceMappingURL=style.css.map */
