.form-contact{
  display: block;
}
input, textarea{
  margin-bottom: 16px;
  padding: 8px 15px;
  color: $color-text-pinky;
  background-color: $color-background-pinky;
  border-radius: 6px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  box-sizing: border-box;
}
input{
  display: block;
  width: 100%;
  border: none;
}
textarea{
  width: 100%;
  resize: none;
  border: none;
}
::placeholder{
  color: $color-text-pinky;
}