.form-contact{
  display: flex;
}
.form-contact__container{
  flex-basis: 100%;

  & > input, textarea{
    display: block;
    margin-bottom: 16px;
    padding: 8px 15px;
    color: $color-text-pinky-light;
    background-color: $color-background-pinky;
    border: none;
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    box-sizing: border-box;
    outline: none;
    @include media-tablet{
      margin-bottom: 12px;
    }
  }
  & > input{
    width: 100%;

    &[type="submit"]{
      width: 100%;
      font-size: 20px;
      color: $color-brand;
      font-weight: bold;
      background-color: $color-text-pinky-light;
      @include media-tablet{
        margin-top: 18px;
      }
      &:hover{
        background-color: #ffe341;
        transition: ease-out 0.3s;
      }
    }
  }
  & > textarea{
    width: 100%;
    resize: none;
  }
  & > ::placeholder{
    color: $color-text-pinky;
  }
}
.form-contact__submit-btn{
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}