body{
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  line-height: 1;
}
.title{
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 29.6188px;
}
.subtitle{
  margin-top: 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}