html{
  background-color: $color-content-light;
}
body{
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  line-height: 0;
}
h2{
  line-height: 18px;
  font-style: normal;
  font-weight: 900;
  font-size: 29.6188px;
}
h3{
  font-style: normal;
  font-weight: 900;
  font-size: 17.7713px;
}
.subtitle{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;

  &_small{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
  }
}
.hidden{
  display: none;
}
.preloadImgs{
  position:fixed;
  left:9999px;
  opacity:0;
}
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $color-brand-dark, $alpha: 0.6);
  z-index: 5;
}