.logo{
  text-decoration: none;
  color: $color-brand-bright;
  font-style: normal;
  font-weight: bold;
  font-size: 24.2902px;
  line-height: 6px;
  cursor: pointer;

  &_colored{
    color: $color-brand;
  }
}