.about-us{
  padding: 63px 40px 46px;
  background-color: $color-background;
  border-bottom: 6px solid $color-brand-bright;
}
.about-us__photo{
  padding: 20px 0 15px;
}
.item{
  padding: 25px 0;
}
.item__title{
  font-weight: 900;
  font-size: 17.7713px;
  line-height: 18px;
  color: $color-content;
}
.item__text{
  padding: 10px 0 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  overflow: hidden;
  color: $color-text-light;
}
.item__contacts{
  width: 51%;
  display: flex;
  justify-content: space-between;
}