.footer{
  display: flex;
  padding: 22px 40px;
  justify-content: space-between;
  background-color: $color-brand-dark;
}
.footer__copyright{
  padding-top: 3px;
  padding-left: 2px;
  color: $color-content;
  display: inline-block;
  line-height: 0;
  font-size: 11.7px;
}
.footer__social{
  display: flex;
  & span{
    margin-left: 8px;
  }
}