.get-a-quote{
  padding: 44px 40px 51px 40px;
  background-color: $color-brand;
  color: $color-text-pinky-light;
  border-bottom: solid 6px $color-slider-border;
}
.get-a-quote__subtitle{
  padding-top: 2px;
}
.get-a-quote__form-container{
  margin-top: 35px;
}
.get-a-quote__form{
  padding-top: 9px;
  flex-basis: 65.8%;
}
.get-a-quote__form textarea{
  height: 202px;
}