.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 89px;
  background: $color-brand-dark;
  border-bottom: solid 6px $color-header-border;
}
.header__navigation{
  margin-top: 8px;
}