.nav-bar{
  display: flex;
  width: 371px;
  justify-content: space-between;
  padding-top: 2px;
}
.nav-bar__item{
  font-style: normal;
  font-size: 11.6593px;
  line-height: 6px;
  list-style: none;
  user-select: none;
  transform: scaleY(1.08);

  &__link{
    color: $color-brand-bright;
    text-decoration: none;
    &_active{
      color: $color-brand;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__link:hover{
    cursor: pointer;
    color: $color-brand;
    transition: 0.2s;
  }

  &:not(:first-child)::before{
    padding: 0 12px;
    color: $color-nav-separator;
    content: "·";
  }
}