.portfolio{
  background-color: $color-brand-dark;
  padding: 44px 40px 22px 40px;
  border-bottom: 6px solid $color-header-border;
}
.portfolio__title{
  color: $color-content;
}
.portfolio__subtitle{
  padding-top: 2px;
  color: $color-content;
}
.gallery{
  padding-top: 11px;
}
.gallery__sorting{
  display: flex;
  padding-bottom: 17px;
}
.sorting-button{
  @include button-reset;
  color: $color-content;
  border: solid 1px $color-content;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 0;
  padding: 10px 6px;
  margin-right: 10px;
  outline: none;
  
  &:hover{
    color: $color-content-light;
    border: solid 1px $color-content-light;
    transition: 0.3s;
  }
}
.sorting-button_active{
  color: $color-content-light;
  border: solid 1px $color-content-light;
}
.gallery__images{
  margin-top: 2px;
}
.gallery__preview{
  margin-bottom: 20px;
  &:nth-child(n+13){
    display: none;
  }
  &_active{
    box-shadow: 0px 0px 0px 5px rgba(240,108,100,1);
  }
  &:hover{
    cursor: pointer;
  }
}