.portfolio{
  background-color: $color-brand-dark;
  padding: 69.5px 42px 49.5px 42px;
  border-bottom: 6px solid $color-header-border;
}
.title{
  color: $color-content;
}
.subtitle{
  color: $color-content;
}
.gallery{
  
}
.gallery__sorting{
  display: flex;
  padding-bottom: 16px;
}
.sorting-button{
  @include button-reset;
  color: $color-content;
  border: solid 1px $color-content;
  border-radius: 6px;
  font-size: 12px;
  line-height: 22px;
  padding: 0 8px;
  margin-right: 8px;

  &:hover{
    color: $color-content-light;
    border: solid 1px $color-content-light;
  }
}
.galley_preview{
  padding-bottom: 20px;
}