.services{
  display: flex;
  flex-wrap: wrap;
  padding: 44px 40px 28px 40px;
  text-align: left;
  background-color: $color-background;
  color: $color-content;
  border-bottom: solid 6px white;
}
.services__subtitle{
  padding-top: 2px;
}
.services__list{
  margin-top: 37px;
}
.services__item{
  display: flex;
  margin-bottom: 21px;
}
.services__item__icon{
  margin-top: 10px;
  margin-right: 20px;
}
.services__item__description{
  display: block;
}
.services__item__text{
  margin: 0;
  overflow: hidden;
  text-align: justify;
}